@media screen and (min-width: 1155px) {
  ul {
    list-style-type: circle;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 20px;
    padding: 0.25rem 2rem;
    border: 1px solid;
  }

  .button-delete {
    margin: 5px 0;
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
  }
}
