.homepage {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, sans-serif;
  letter-spacing: 0.75rem;
}
h2 b {
  color: white;
  font-size: 3rem;
  text-transform: lowercase;
  font-family: "Snell Roundhand";
  letter-spacing: 0.75rem;
}

.input-box {
  width: 100%;
  font-size: 1rem;
  color: grey;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}
